@font-face {
    font-family: 'LilGrotesk Bold';
    src: url('/fonts/LilGrotesk-Bold.otf') format('opentype');
}
@font-face {
    font-family: 'LilGrotesk Regular';
    src: url('/fonts/LilGrotesk-Regular.otf') format('opentype');
}
body {
    font-family: 'LilGrotesk Regular', sans-serif;
    font-size: 20px;  /* размер шрифта для body */
}
 
h1, h2, h3 {
    font-family: 'LilGrotesk Bold', sans-serif;
    font-size: 40px;  /* размер шрифта для заголовков */
}